<ion-view title="{{isEdit ? 'Edit' : 'New'}} {{data.currentRecord.name}}">
    <ion-content class="has-header">
<!--        <div>{{getPaused()}}</div>
        <div>{{getResumed()}}</div>
        <div>{{getReady()}}</div>-->
<!--        <button ng-click="pause()">Pause</button>-->

<form name="$parent.recordForm" novalidate>
        <div class="list" id="addForm">

            <div class="item item-input" ng-repeat="field in data.currentRecord.fields">

                <label class="input-label">{{field.name}}</label>
                <ng-switch on="field.dataType" class="inputRegion">

                    <a href="#/app/autocomplete?typeId={{data.currentRecord.typeId}}&fieldId={{field.id}}"
                       ng-switch-when="4" class="autoCompleteField">
                        <div>{{field.value.phrase}}</div>
                    </a>

                    <input ng-switch-when="2" type="date" ng-model="field.value" ng-change="setRecordToDirty()"/>

                    <ul ng-switch-when="3" class="list">
                        <li class="item" ng-repeat="dropdown in field.dropdowns" style="border: none;">
                            <select style="display: block;" ng-change="selectedOptionValue(field,dropdown)"
                                    ng-options="x.description for x in dropdown.optionValues" ng-model="dropdown.value">
                                <option value="">Please Select</option>
                            </select>
                        </li>

                    </ul>

                    <input ng-switch-when="1" type="text" ng-model="field.value" ng-change="setRecordToDirty()"/>


                </ng-switch>

            </div>

        </div>

</form>

    </ion-content>

    <div class="bar bar-footer">
        <button ng-click="saveRecord()" class="button button-icon icon ion-checkmark-round pull-right"></button>
    </div>
</ion-view>
