<ion-view title="{{isEdit ? 'Edit' : 'New'}} {{data.currentRecord.name}}">
    <ion-content class="has-header">

        <div class="list">
            <field ng-repeat="field in data.currentRecord.fields" field="field"></field>
        </div>

<!--<form name="$parent.recordForm" novalidate>
        <div class="list" id="addForm">

            <div class="item item-input" ng-repeat="field in data.currentRecord.fields">

                <label class="input-label item-text-wrap">{{field.name}}</label>

                <label class="checkbox" ng-show="field.isToggled">
                    <input type="checkbox" ng-model="field.data.isChecked">
                </label>









                <ng-switch on="field.dataType" class="inputRegion">

                    <a href="#/app/autocomplete?typeId={{data.currentRecord.typeId}}&fieldId={{field.id}}&index=0"
                       ng-switch-when="4" class="autoCompleteField">
                        <div>{{field.value[0].phrase}}</div>
                    </a>

                    <div ng-switch-when="7">

                    </div>

                    <input ng-switch-when="2" type="date" ng-model="field.value" ng-change="setRecordToDirty()"/>

                    <div ng-switch-when="3" class="list" style="margin-top: -6px; margin-bottom: -5px;">
                        <div class="item item-input" ng-repeat="dropdown in field.dropdowns" style="border: none; padding-top: 6px; padding-bottom: 5px;">
                            <select multiple style="display: block; height: 34px;" ng-change="selectedOptionValue(field,dropdown)"
                                    ng-options="x.description for x in dropdown.optionValues" ng-model="dropdown.value">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                    </div>

                    <input ng-switch-when="1" type="text" ng-model="field.value" ng-change="setRecordToDirty()"/>

                    <div ng-switch-when="5">
                        <input ng-if="!isBarcodeScannerEnabled" type="text" ng-model="field.value" ng-change="setRecordToDirty()">
                        <div class="barcodeDisplay" ng-if="isBarcodeScannerEnabled" ng-click="openBarcodeScanner(field)">{{field.value}}</div>
                    </div>

                    <div ng-switch-when="6">
                        <label class="toggle" style="float: right;">
                            <input type="checkbox" ng-model="field.value" ng-change="setRecordToDirty()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>

                </ng-switch>

            </div>

        </div>

</form>-->

    </ion-content>

    <div class="bar bar-footer">
        <button ng-click="saveRecord()" class="button button-icon icon ion-checkmark-round pull-right"></button>
    </div>
</ion-view>
