<div class="modal">
    <ion-header-bar>

        <div class="bar bar-header item-input-inset">
            <i id="favouritesIcon" class="icon ion-android-star">
                <a href="#/app/autocomplete">autoC</a>
            </i>

            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input id="searchBox" type="text" ng-change="changeSearchText()" ng-model="data.searchText" ng-trim="false" placeholder="Search">
            </label>

            <i id="closeIcon" class="icon ion-close-round" ng-click="closeAutocomplete()"></i>

        </div>

    </ion-header-bar>
    <ion-content>

        <ul class="list">
            <li ng-repeat="wordMatch in data.wordMatches" ng-click="selectWord(wordMatch)" class="item">
                {{wordMatch}}
            </li>
        </ul>

        <div class="list list-inset">
            <div ng-repeat="searchResult in data.searchResults" ng-click="selectAutocomplete(searchResult)" class="item item-text-wrap">
                {{searchResult.phrase}}
            </div>
        </div>

    </ion-content>
</div>
