<ion-view title="History Title">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content id="historyPage" class="has-header">

    <!--  <button ng-click="resume()">Resume</button>-->


      <div class="card"  ng-repeat="record in data.historyRecords" >
        <a href="#/app/review?typeId={{record.typeId}}&recordId={{record.id}}" class="historyLink">
            <div class="item item-divider historyHeading">
                <i class="icon ion-medkit typeIcon"></i>
                {{record.createdDateTime | date : 'EEEE d MMM HH:mm'}}
            </div>
            <div class="item">
                <div ng-repeat="field in record.fields" class="displayField">
                    {{field.displayText}}
                </div>
            </div>
        </a>
    </div>
  </ion-content>
</ion-view>
