<ion-view title="History Title">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content id="historyPage" class="has-header">

      <ion-slide-box does-continue="true" show-pager="false">
          <ion-slide ng-repeat="recordDefinition in recordDefinitions" active-slide="recordDefinition">

              <div class="bar bar-stable" style="position: relative;">
                  <h2 class="title"> {{recordDefinition.name}}</h2>
              </div>

              <div ng-repeat="record in recordDefinition.records" class="list list-insert" style="margin:20px;">

                  <div ng-repeat="field in record.displayFields" class="item row" style="padding: 5px; background-color: #f4f4f4;">

                          <div class="col-33" style="color: #999999;">
                              {{field.name}}
                          </div>
                          <div class="col-67" style="white-space: normal;">
                              <ul>
                                  <li ng-repeat="value in field.values">
                                          {{value.value}}
                                  </li>
                              </ul>
                          </div>

                  </div>

              </div>




<!--              <ul class="list">
                  <li ng-repeat="record in recordDefinition.records" class="item">

<ul>
    <li ng-repeat="field in record.displayFields">
        {{field.name}}
        <ul>
            <li ng-repeat="value in field.values">
                {{value.value}}
            </li>
        </ul>
    </li>
</ul>



                      <ul>
                       id:   {{record.id}}
                       recdef:   {{record.recordDefinitionId}}
                       allinfo:   {{record.recordDefinition}}

                      </ul>
                  </li>
              </ul>-->
          </ion-slide>
      </ion-slide-box>

<!--      <div class="card"  ng-repeat="record in data.historyRecords" >
        <a href="#/app/review?typeId={{record.typeId}}&recordId={{record.id}}" class="historyLink">
            <div class="item item-divider historyHeading">
                <i class="icon ion-medkit typeIcon"></i>
                {{record.createdDateTime | date : 'EEEE d MMM HH:mm'}}
            </div>
            <div class="item">
                <div ng-repeat="field in record.fields" class="displayField">
                    {{field.displayText}}
                </div>
            </div>
        </a>
    </div>-->
  </ion-content>
</ion-view>
