<style>
    .arrowIcon
    {
        font-size: 20px;
        color: #999999;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>

<ion-view title="History">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content id="historyPage" class="has-header">

      <ion-slide-box does-continue="true" show-pager="false">
          <ion-slide ng-repeat="recordDefinition in recordDefinitions" active-slide="recordDefinition">

              <div class="bar bar-stable" style="position: relative;">
                  <i class="icon ion-chevron-left arrowIcon"></i>
                  <h2 class="title"> {{recordDefinition.name}}</h2>
                  <div style="width: 100%;"></div>
                  <i class="icon ion-chevron-right arrowIcon"></i>
              </div>

              <ion-content class="has-header">
                  <a ng-repeat="record in recordDefinition.records"
                     href="#/app/add?recordDefinitionId={{recordDefinition.id}}&recordId={{record.id}}"
                     class="list list-inset" style="text-decoration: none; display: block;">

                      <div class="item stable-bg" style="padding-top: 10px; padding-bottom: 10px;">
                          <span><i class="icon ion-plus-round"></i> {{record.createdDateTime | date:'dd/MM/yy HH:mm' }}</span>
                          <span ng-show="record.modifiedDateTime" style="float: right;"><i class="icon ion-edit"></i> {{record.modifiedDateTime | date:'dd/MM/yy HH:mm'}}</span>
                      </div>
                      <div class="item stable-bg" style="padding-bottom: 9px;">
                          <div ng-repeat="field in record.displayFields">
                              <div style="font-weight: bold;" class="positive">{{field.name}}</div>
                              <div ng-repeat="value in field.values" class="item-text-wrap" style="margin-bottom: 7px;">
                                  {{value.value.text ? value.value.text : value.value}}
                              </div>
                          </div>
                      </div>
                  </a>
              </ion-content>

          </ion-slide>
      </ion-slide-box>
  </ion-content>
</ion-view>