
<ion-view title="{{getTitle()}}">

    <ion-content class="has-header" id="passCode">

        </br>
        </br>

        <div class="row" id="pinIcons">
            <div class="col"><span ng-class="numberClass(0)"></span></div>
            <div class="col"><span ng-class="numberClass(1)"></span></div>
            <div class="col"><span ng-class="numberClass(2)"></span></div>
            <div class="col"><span ng-class="numberClass(3)"></span></div>
        </div>

        </br>
        </br>

        <div class="row">
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(1)">1</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(2)">2</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(3)">3</button></div>
        </div>

        <div class="row">
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(4)">4</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(5)">5</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(6)">6</button></div>
        </div>

        <div class="row">
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(7)">7</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(8)">8</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(9)">9</button></div>
        </div>

        <div class="row">
            <div class="col"><button class="button paleGreyBackground"></button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="pressedNumber(0)">0</button></div>
            <div class="col"><button class="button paleGreyBackground" ng-click="back()">Back</button></div>
        </div>

        </br>

    </ion-content>
</ion-view>
