<ion-view title="{{pickList.name}} - {{category.name}}">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-plus-outline">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="bar bar-header" style="padding-top: 6px; padding-bottom: 4px;">
            <div class="item item-input-inset" style="padding: 0; width: 100%; border: none; height: 100%;">
                <div class="item-input-wrapper" style="height: 33px;">
                    <input ng-model="data.inputText" ng-change="inputTextChanged()" ng-trim="false" type="text" placeholder="Search or Add">
                    <i class="icon ion-close-round" ng-click="clearInputText()" style="padding: 0 11px;"></i>
                </div>
            </div>
        </div>

        <div class="list" style="top:43px;">
            <li ng-repeat="word in data.wordMatches" class="item" ng-click="selectWord(word)">
                {{word}}
            </li>
        </div>

        <div class="list list-insert">
            <div ng-repeat="value in data.valueMatches" class="item">
                value match
            </div>
        </div>

    </ion-content>
</ion-view>