<ion-view title="Category">

<!--    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-close-outline"
                ng-click="removeValue()" ng-show="isValueAlreadySet">
        </button>
    </ion-nav-buttons>-->

    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="category in pickList.categories"
                      href="#/app/pickList?recordDefinitionId={{recordDefinitionId}}&fieldDefinitionId={{fieldDefinitionId}}&index={{index}}&categoryId={{category.id}}">
                {{category.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>