<ion-view title="{{pickList.name}} {{pickList.categories.length > 1 ? ' - ' + category.name : ''}}">

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-plus-outline" ng-show="pickList.isAbleToAddNewValues && data.inputText.length > 2" ng-click="addNewValue()">
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="bar bar-header" style="padding-top: 6px; padding-bottom: 4px;">
            <div class="item item-input-inset" style="padding: 0; width: 100%; border: none; height: 100%;">
                <div class="item-input-wrapper" style="height: 33px;">
                    <input ng-model="data.inputText" ng-change="inputTextChanged()" ng-trim="false" type="text" placeholder="Search{{pickList.isAbleToAddNewValues ? ' or Add':''}}" id="inputText">
                    <i class="icon ion-close-round" ng-click="clearInputText()" style="padding: 0 11px;"></i>
                </div>
            </div>
        </div>

        <div class="list" style="top:43px;" ng-show="data.wordMatches.length > 0">
            <li ng-repeat="word in data.wordMatches" class="item" ng-click="selectWord(word)">
                {{word}}
            </li>
        </div>

        <div class="list list-insert" style="top:53px; margin-right: 10px; margin-left: 10px;" ng-show="data.valueMatches.length > 0">
            <div ng-repeat="value in data.valueMatches" class="item item-text-wrap" ng-click="selectValue(value)">
                {{value.text}}
            </div>
            <div class="item item-text-wrap dark-bg" ng-show="data.valueMatches.length >= data.maximumPickListMatchesToDisplay" style="color: #ffffff;">
                <div>Showing first {{data.maximumPickListMatchesToDisplay}} matches.</div>
                <div>Refine search terms for more.</div>
            </div>
        </div>

    </ion-content>
</ion-view>