<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clinical Activity Report</title>
</head>
<body>

<div class="container">

<h2>Summary of clinical activity <small>{{userName}}</small></h2>
<h4>{{fromDate}} to {{toDate}}</h4>

    </br>

    <ul class="list-group">
        <li class="list-group-item active"><span style="background-color:#FFF; color:#777" class="badge">{{totalEncounters}}</span>Total Clinical encounters recorded</li>

        <li class="list-group-item"><span class="badge">{{numberOfClinicalEncounters}}</span>Clinic patients
            <div class="clinicType">New referrals<span class="badge">{{numberOfClinicalNewReferrals}}</span></div>
            <div class="clinicType">Follow ups<span class="badge">{{numberOfClinicalFollowUps}}</span></div>
            <div class="clinicType">Not classified<span class="badge">{{numberOfClinicalNonClassified}}</span></div>
        </li>



        <li class="list-group-item"><span class="badge">{{numberOfWardReferrals}}</span>Ward referrals</li>
        <li class="list-group-item"><span class="badge">{{numberOfTake}}</span>Patients on the acute medical take</li>
        <li class="list-group-item"><span class="badge">{{numberOfProcedures}}</span>Medical procedures</li>
    </ul>


</br>
    <div class="panel panel-default">
<table class="table table-bordered">

        <tr class="tableHeading" >
            <td style="width:80%">Presentations across all clinical encounters</td>
            <td style="width:20%">Frequency</td>
        </tr>


        {{#each presentations}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}


</table>
</div>
</br>
    <div class="panel panel-default">
        <table class="table table-bordered">
            <tr class="tableHeading">
                <td style="width: 80%">System / diagnoses</td>
                <td style="width: 20%">Frequency</td>
            </tr>

            {{#each diagnosesByCategory}}
                {{setIndex @index}}
                <tr class="diagnosisCategory" data-categoryIndex="{{@index}}">
                    <td>{{this.category}}</td>
                    <td>{{this.total}}</td>
                </tr>

                {{#each this.detail}}
                    <tr class="diagnosisDetail hidden" data-parentIndex="{{../index}}">
                        <td class="extraLeftPadding">{{@key}}</td>
                        <td>{{this}}</td>
                    </tr>
                {{/each}}

            {{/each}}


        </table>
    </div>


</br>
    <div class="panel panel-default">

<table class="table table-bordered">

    <tr class="tableHeading">
        <td style="width:80%">Procedures performed</td>
        <td style="width:20%">Frequency</td>
    </tr>

        {{#proceduresByCategory}}
        <tr style="background-color: #f0f0f0;">
            <td colspan="2">{{category}}</td>
        </tr>

        {{#each procedures}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}

        {{/proceduresByCategory}}

</table>
    </div>

</div>

</body>
</html>