@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 60px;
font-style: normal;
}.flaticon-businessman137:before {
	content: "\e000";
}
.flaticon-hospital16:before {
	content: "\e001";
}
.flaticon-medical79:before {
	content: "\e002";
    font-size: 55px;
}
.flaticon-person302:before {
	content: "\e003";
}
.flaticon-syringe21:before {
	content: "\e004";
}
