
<div class="list-inset list" style="margin-bottom: 20px;">
    <div class="item" style="background-color: #f5f5f5; padding-top: 0; padding-bottom: 0; padding-right: 6px;">

        <div class="row" style="padding: 0; height: 43px;">
            <div class="col col-60" ng-style="{'padding':'13px 0 0 0', 'color':'{{recordDefinition.colour}}'}">
                {{recordField.fieldDefinition.name}}
            </div>
            <div class="col col-20" style="padding: 0">
                <label class="checkbox" ng-show="recordField.fieldDefinition.isToggled">
                    <input type="checkbox" ng-model="recordField.data.isChecked" ng-change="changeToggle()">
                </label>
            </div>
            <div class="col col-20" style="padding: 0;">
                <a class="button button-icon icon ion-plus-circled" style="min-height: 42px; float: right;"
                   ng-if="showPlusIcon()" style="padding:0;"
                   ng-click="addNewValue()"></a>
            </div>
        </div>

    </div>

    <div>
        <div ng-repeat="value in recordField.data.values" on-drag-left="deleteItem($index)">
            <div ng-switch="recordField.fieldDefinition.fieldType.name">
                <div ng-switch-when="shortText" class='item item-input'><input type='text' ng-model='value.value' ng-change='makeDirty()'></div>

                <div ng-switch-when="date" class='item item-input'><input type='date' ng-model='value.value' ng-change='makeDirty()'></div>

                <div ng-switch-when="longText" class='item item-input'>
                    <textarea rows='4' ng-model='value.value' ng-change='makeDirty()'>
                    </textarea>
                </div>

                <div ng-switch-when="number" class="item item-input">
                    <input type="number" ng-model="value.value" ng-change="makeDirty()">
                </div>

                <div ng-switch-when="barcode" class='item item-input item-icon-right'>
                    <input ng-model='value.value' type='text' ng-change='makeDirty()'>
                    <i ng-show="isBarcodeEnabled()" ng-click='openBarcodeReader()' class='icon ion-ios7-barcode'></i>
                </div>

                <div ng-switch-when="pickList" ng-click="openPickList(value.index)" class="item item-text-wrap">{{value.value && value.value.text ? value.value.text : '(Please Select)'}}</div>

            </div>

        </div>
    </div>
</div>


