<div class="row">

    <div class="col col-80">
        <label class="item item-input item-stacked-label">
            <span class="input-label">{{recordField.fieldDefinition.name}}</span>
            <ul>
                <li ng-repeat="value in recordField.data.values">
                    <div ng-switch="recordField.fieldDefinition.fieldType.name">
                        <short-text ng-switch-when="shortText" value="value"></short-text>
                        <date ng-switch-when="date" value="value"></date>
                        <boolean ng-switch-when="boolean" value="value"></boolean>
                        <long-text ng-switch-when="longText" value="value"></long-text>
                        <short-text ng-switch-when="barcode" value="value"></short-text>
                        <pick-list ng-switch-when="pickList" value="value" record-definition-id="{{recordDefinition.id}}"
                                   field-definition-id="{{recordField.fieldDefinition.id}}" index="{{$index}}"></pick-list>
                    </div>
                </li>
            </ul>
        </label>
    </div>

    <div class="col" style="position: relative">
        <label class="checkbox" ng-show="recordField.fieldDefinition.isToggled" >
            <input type="checkbox" ng-model="recordField.data.isChecked" ng-change="changeToggle()">
        </label>

        <a class="button button-icon icon ion-plus-circled"
           ng-show="recordField.fieldDefinition.isMultiSelect"
           style="position: absolute; bottom: 0; left: 5px;"></a>

        <a class="icon button button-icon ion-ios7-barcode"
           ng-show="recordField.fieldDefinition.name == 'barcode'"></a>
    </div>

</div>



