#historyPage .scroll, #historyPage .slider {
    height: 100%;
}

/*

 #closeIcon
 {
     padding: 10px 10px 10px 20px;

 }


select {
    width: 100%;
    border: none;
    background: #fff;
    color: #333;
    background: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}



 .input-label {
     width: 40%;
     display: block;
     max-width: none;
 }

 .inputRegion {
     width: 60%;
     display: block;

 }

 #addForm li {
     margin: 0;
     padding-left: 0;
 }

 .autoCompleteField
 {
     text-decoration: none;
     font-size: 14px;
     color:#111;
 }

 .autoCompleteField div
 {
     min-height: 34px;
     width: 100%;
     white-space: pre-wrap;
 }

.bar.bar-stable, .bar.bar-footer, #autoCompleteSearch, #autoCompleteHeader
{
    background-color: #d9edff;
}

#autoCompleteSearch {
    width: 90%;
    border: none;
}

 #autoCompleteContent,  #autoCompleteContent .scroll
 {
     top: 0;
     position: absolute;
     width: 100%;
 }

#searchResultList
{
    position: relative;
    top: 35px;
}

#wordMatchList {
    position: relative;
    top: 44px;
}


ion-pane, .item, select, ion-content.scroll-content.ionic-scroll.has-header, .item-stacked-label input, .item-stacked-label textarea

{
    background-color: #f0f8ff;
}

#historyPage .displayField
{
    white-space: pre-wrap;
    white-space: normal;
    padding: 7px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 5px;
    float: left;
    border: 1px solid #e7e7e7 ;
}

#historyPage .historyHeading
{
    background-color: #E1F5FF;
}

#historyPage .historyLink
{
    text-decoration: none;
}

#historyPage .typeIcon
{
    margin-right: 10px;
}

#addForm .barcodeDisplay
{
    width: 100%;
    height: 34px;
}*/
