#historyPage .scroll, #historyPage .slider {
    height: 100%;
}

#recordDefinitionTiles .tileRow
{
    height: 170px;
}

#recordDefinitionTiles .tileRow a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: white 4px solid;
    font-size: 20px;
}

#recordDefinitionTiles .tileRow a div{
    margin-top: 20px;
    margin-bottom: 40px;
}


#historyPage .arrowIcon
{
    font-size: 20px;
    color: #999999;
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

#historyPage h2
{
    margin-left: 50px;
    margin-right: 50px;
}


ion-nav-bar button, ion-nav-bar h1, ion-nav-bar i, #historyHeader h2, #historyHeader i
{
    color: #ffffff !important;
}

.customYellowBackground
{
    background-color: #EDC951;
}

.popup-buttons .button.button-positive
{
    background-color: #CC333F;
}

.redFont
{
    color: #CC333F;
}

.ufoFont
{
    color: #00A0B0;
}


.daylightFont
{
    color: #EDC951;
}

.daylightBackground
{
    background-color: #EDC951;
}

.greyFont
{
    color: #555555;
}

.paleGreyFont
{
    color: #aaaaaa;
}


#passCode button
{
    width: 100%;
    height: 65px;
}


#passCode [class^="flaticon-"]:before, #passCode [class*=" flaticon-"]:before,
#passCode [class^="flaticon-"]:after, #passCode [class*=" flaticon-"]:after {
    font-size: 40px;
    display: block;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.toggle input:checked + .track {
    border-color: #EDC951;
    background-color: #EDC951; }

.button-positive
{
    background-color: #EDC951 !important;
    border-color: #EDC951 !important;
    color: #444 !important;
}

/*

 #closeIcon
 {
     padding: 10px 10px 10px 20px;

 }


select {
    width: 100%;
    border: none;
    background: #fff;
    color: #333;
    background: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}



 .input-label {
     width: 40%;
     display: block;
     max-width: none;
 }

 .inputRegion {
     width: 60%;
     display: block;

 }

 #addForm li {
     margin: 0;
     padding-left: 0;
 }

 .autoCompleteField
 {
     text-decoration: none;
     font-size: 14px;
     color:#111;
 }

 .autoCompleteField div
 {
     min-height: 34px;
     width: 100%;
     white-space: pre-wrap;
 }

.bar.bar-stable, .bar.bar-footer, #autoCompleteSearch, #autoCompleteHeader
{
    background-color: #d9edff;
}

#autoCompleteSearch {
    width: 90%;
    border: none;
}

 #autoCompleteContent,  #autoCompleteContent .scroll
 {
     top: 0;
     position: absolute;
     width: 100%;
 }

#searchResultList
{
    position: relative;
    top: 35px;
}

#wordMatchList {
    position: relative;
    top: 44px;
}


ion-pane, .item, select, ion-content.scroll-content.ionic-scroll.has-header, .item-stacked-label input, .item-stacked-label textarea

{
    background-color: #f0f8ff;
}

#historyPage .displayField
{
    white-space: pre-wrap;
    white-space: normal;
    padding: 7px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 5px;
    float: left;
    border: 1px solid #e7e7e7 ;
}

#historyPage .historyHeading
{
    background-color: #E1F5FF;
}

#historyPage .historyLink
{
    text-decoration: none;
}

#historyPage .typeIcon
{
    margin-right: 10px;
}

#addForm .barcodeDisplay
{
    width: 100%;
    height: 34px;
}*/
